ipynb_files/
*.org
.DS*
.ipynb_checkpoints
#add_id_cols_KM_list.py
#class_approach.py
#sts_*.py
test_class.py
__pycache__/
/add_id_cols_KM_list.py
/class_approach.py
/ehr_files_report.py
sts_*
/or_log_files_report.py
